{% extends "::base.html.twig" %}


{% block stylesheets %}

        {#<link rel="stylesheet" href="{{ asset("Assets/css/in") }}" />#}

{% endblock %}




{% block body %}



        <!-- page content -->
        <div class="right_col" role="main">
           ANASAYFA İÇERİĞİ
        </div>
        <!-- /page content -->




{% endblock %}



{% block javascripts %}

    {#<script type="text/javascript" src="{{ asset("Assets/js/index.js") }}"></script>#}


{% endblock %}